.col {
  padding: 0px;
}

.centered-rows {
  margin: 0 auto;
}

p {
  margin-top: 0.5em;
  font-weight: bold;
  text-align: center;
  color: orange;
}
.dates,
.times,
.temps {
  text-align: center;
  color: white;
  padding: 0.5em;
}

.date-column,
.time-column,
.temp-column {
  border-style: solid;
  border-color: orange;
  border-width: 1px;
  margin-left: 2px;
}

.big-danger-cold {
  color: violet;
}

.medium-danger-cold {
  color: blue;
}

.small-danger-cold {
  color: lightskyblue;
}

.caution-cold {
  color: turquoise;
}

.safe {
  color: green;
}

.caution-hot {
  color: yellow;
}

.small-danger-hot {
  color: orange;
}

.big-danger-hot {
  color: red;
}
