.col {
  padding: 0px;
}

.centered-rows {
  margin: 0 auto;
}

p {
  margin-top: 0.5em;
  font-weight: bold;
  text-align: center;
  color: orange;
}
.dates,
.times,
.temps {
  text-align: center;
  color: white;
  padding: 0.5em;
}

.legend,
.date-column,
.time-column,
.temp-column {
  border-style: solid;
  border-color: orange;
  border-width: 1px;
  margin: 2px;
}

.legend {
  padding-top: 1em;
  padding-bottom: 0em;
}

.safe {
  color: green;
}

.caution {
  color: yellow;
}

.warning {
  color: orange;
}

.danger {
  color: red;
}
