#main {
  margin-top: 5rem;
}

.container {
  background-color: orange;
  /* position:absolute; */
}

.card {
  background-color: black;
}

.card-title,
.card-subtitle,
.beginBtn, .or, .centeredRow {
  text-align: center;
}

.card-title, .or {
  color: rgb(255, 255, 255);
}

.card-subtitle {
  color: orange;
  font-size: small;
}

.beginBtn {
  margin-top: 2rem;
}

.or {
  margin: 1rem;
}
